@import url("https://fonts.googleapis.com/css2?family=Doppio+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&display=swap");

body {
  background-color: #262527;
  color: #fafafa;
  /* font-family: "Architects Daughter", cursive; */
  font-family: "Exo 2", sans-serif;
  /* margin-bottom: 500px; */
}

.me {
  font-family: "Doppio One", sans-serif;
}

.navbar-brand .me {
  color: red;
}

/* Foto profile */
.foto {
  width: 250px;
  height: 250px;
  display: block;
  transition: 1s;
  border-radius: 150px;
  box-shadow: 10px 0px 9px #ffffff;
}

.foto:hover {
  width: 250px;
  height: 250px;
  display: block;
  box-shadow: -12px 0px 10px #191970;
  /* box-shadow: 0px 0px 7px 7px #191970; /* Shadow bayangan melingkar */
  /* transform: rotate(360deg); */
}

/* Navigator Link */

/* Untuk Burger button */
#burger:checked + #menu {
  display: block;
}

.nav_link {
  font-family: "Doppio One", sans-serif;
  color: #fff;
  padding: 15px;
  padding-left: 1px;
  transition: 0.5s;
}

.nav_link:hover {
  color: #0000ff;
  text-shadow: 0px 0px 10px #2353f3;
  text-decoration: none;
}

/* Button Resume */
.btn_outline {
  color: #0000fd;
  border-radius: 5px;
  border: 1px solid #0000fd;
  border-color: #0000fd;
  font-family: "Doppio One", sans-serif;
  text-align: center;
  transition: 500ms;
}

.btn_outline:hover {
  color: #f1f1f1;
  border-radius: 5px;
  border-color: #00f;
  font-family: "Doppio One", sans-serif;
  background-color: #191970;
  text-align: center;
}

/* Breadcrumb  Manual*/
ul.bread {
  padding: 5px;
}

ul.bread li {
  display: inline;
  text-align: left;
}

ul.bread li + li:before {
  content: "/";
  color: #0000fd;
  text-shadow: 1px 1px 5px #1100ff;
  padding: 5px;
  font-size: 15px;
}


/* CSS AKTIF alias di pake */

.actif {
  font-family: "Doppio One", sans-serif;
  margin: 5px;
  padding: 5px;
  display: block;
  color: #0000ff;
  text-shadow: 0px 0px 10px #2353f3;
  text-decoration: none;
}

.modal_link {
  font-family: "Doppio One", sans-serif;
  color: #191970;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  transition: 0.5s;
  display: inline-block;
}

.modal_link:hover {
  color: black;
  text-shadow: 0px 0px 10px #2353f3;
  text-decoration: none;
}


/* CUstom navbar */

.bg_dark {
  background-color: #000;
}



/* Footer */
.copy {
  font-style: normal;
  text-shadow: 0px 0px 5px #0000ff;
  transition: 1s;
}

section {
  margin-bottom: 5px;
  /* min-height: 530px;*/
  padding-top: 100px;
  height: 100vh;
}

footer {
  /* background-color: #02021d; */
  color: #f1f1f1;
  font-family: "Architects Daughter", cursive;
  /* margin-bottom: 0px; */
}

footer a {
  color: #0000aa;
  transition: color 2s;
}


